In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import seaborn as sn
import matplotlib.pyplot as plt

import pandas as pd
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV

In [2]:
df = pd.read_csv('dvc_data/train.csv')
test=pd.DataFrame(pd.read_csv('dvc_data/test.csv'))

In [3]:
df

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,...,R3,R4,R5,R6,R7,O1,O2,O3,O4,Y
0,1,0,1,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,1
1,2,0,1,0,1,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,1
2,3,1,1,0,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,1,1
3,4,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,5,0,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2874,2875,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,3
2875,2876,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
2876,2877,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,3
2877,2878,1,1,0,1,0,1,0,0,0,...,0,0,0,1,0,1,0,1,0,3
2878,2879,0,1,0,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,3

In [4]:
test

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,...,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4
0,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,3,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,4,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,5,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
296,297,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
297,298,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
298,299,0,1,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
299,300,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [5]:
df['G_class'] = df['G3'] + df['G4'] + df['T1'] + df['T3'] + df['T13'] + df['T15'] + df['T17'] + df['T20'] + df['T22'] + df['T23'] + df['T28'] + df['R2']
df['T_class'] = df['T1'] + df['T2'] + df['T3'] + df['T4'] + df['T5'] + df['T6'] + df['T7'] + df['T8'] + df['T9'] + df['T10'] + df['T11'] + df['T12'] + df['T14'] + df['T15'] + df['T16'] + df['T17'] + df['T18'] + df['T19'] + df['T20'] + df['T23'] + df['T24'] + df['T25'] + df['T26'] + df['T27'] + df['T28'] + df['T29'] + df['O1']
df['R_class'] = df['R1'] + df['R4'] + df['R5'] + df['R6'] + df['R7'] + df['G3'] + df['G4'] + df['T9'] + df['T15'] + df['T22']
df['O_class'] = df['O1'] + df['O4'] + df['G4'] + df['T8'] + df['T9'] + df['T10'] + df['T15'] + df['T22'] + df['T25'] + df['R2']

test['G_class'] = test['G3'] + test['G4'] + test['T1'] + test['T3'] + test['T13'] + test['T15'] + test['T17'] + test['T20'] + test['T22'] + test['T23'] + test['T28'] + test['R2']
test['T_class'] = test['T1'] + test['T2'] + test['T3'] + test['T4'] + test['T5'] + test['T6'] + test['T7'] + test['T8'] + test['T9'] + test['T10'] + test['T11'] + test['T12'] + test['T14'] + test['T15'] + test['T16'] + test['T17'] + test['T18'] + test['T19'] + test['T20'] + test['T23'] + test['T24'] + test['T25'] + test['T26'] + test['T27'] + test['T28'] + test['O1']
test['R_class'] = test['R1'] + test['R4'] + test['R5'] + test['R6'] + test['R7'] + test['G3'] + test['G4'] + test['T9'] + test['T15'] + test['T22']
test['O_class'] = test['O1'] + test['O4'] + test['G4'] + test['T8'] + test['T9'] + test['T10'] + test['T15'] + test['T22'] + test['T25'] + test['R2']

In [6]:
test = test.drop(['ID'], axis=1)
test = test.drop(['G1', 'G4', 'G5', 'T1', 'T2', 'T3', 'T4',  'T6',
       'T7', 'T8',  'T10', 'T11', 'T12', 'T13', 'T14', 'T15', 'T16',
       'T17', 'T18', 'T19', 'T20', 'T21', 'T22', 'T23', 'T24', 'T25', 'T26',
       'T27', 'T28', 'T29', 'R1', 'R2', 'R3', 'R4',
       'O1', 'O2', 'O3', 'O4'], axis=1)

In [7]:
X = df[['G2','G3','T5','T9', 'T30', 'R5', 'R6', 'R7','G_class', 'T_class', 'R_class','O_class']]
y = df['Y']

In [8]:
from collections import Counter
print(Counter(y))
# 查看所生成的样本类别分布，1和2和3樣本數量差很多，属于类别不平衡数据

Counter({1: 1732, 3: 953, 2: 194})

In [9]:
# 使用imlbearn库中上采样方法中的SMOTE接口
from imblearn.over_sampling import SMOTE
# 定义SMOTE模型，random_state相当于随机数种子的作用
smo = SMOTE(random_state=0)
X_smo, y_smo = smo.fit_sample(X, y)

In [10]:
print(Counter(y_smo))

Counter({1: 1732, 2: 1732, 3: 1732})

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X_smo, y_smo,test_size=0.25, random_state=1234)
from sklearn.ensemble import GradientBoostingClassifier #導入梯度提升回歸樹模型
clf = GradientBoostingClassifier(random_state=1234, max_depth=7,learning_rate=1,n_estimators= 1700,subsample=1)
clf.fit(X_train,y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=1, loss='deviance', max_depth=7,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=1700,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=1234, subsample=1, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [12]:
pred = clf.predict_proba(test)
submission = pd.read_csv('dvc_data/submit_samples.csv')
df = pd.DataFrame({ 'ID':submission.ID,'C1':pred[0:300,0] , 'C2':pred[0:300,1] , 'C3':pred[0:300,2] })
filename = 'submission_pre.csv'
df.to_csv(filename,index=False)
print(df)
print('Saved file: ' + filename)

      ID             C1             C2             C3
0      1   1.000000e+00   0.000000e+00   2.675328e-18
1      2  2.238855e-153   1.000000e+00  3.929991e-166
2      3   4.761905e-01   0.000000e+00   5.238095e-01
3      4   4.297521e-01  5.521599e-305   5.702479e-01
4      5  1.248505e-191   1.000000e+00  2.357535e-281
..   ...            ...            ...            ...
295  296   5.833333e-01  1.390177e-296   4.166667e-01
296  297   2.448980e-01   4.387755e-01   3.163265e-01
297  298   8.409091e-01  2.790963e-306   1.590909e-01
298  299  5.924365e-152   1.000000e+00  5.264649e-152
299  300   4.668990e-01   0.000000e+00   5.331010e-01

[300 rows x 4 columns]
Saved file: submission_pre.csv